
<h1>About This Site</h1>

<p>Reading the bible every day should be simple &amp; easy. You shouldn&rsquo;t need to sign in, sign up, or check off a list. You don&rsquo;t have to carry a bible around thinking, &ldquo;Maybe I&rsquo;ll get around to it at lunch or break or while I&rsquo;m stuck in traffic today.&rdquo; This page is the answer to that struggle. If you miss a day, don&rsquo;t feel guilty about it or try to &ldquo;catch up&rdquo; &mdash; it will come around again.</p>

<blockquote>So then, do not worry about tomorrow, for tomorrow will worry about itself. Today has enough trouble of its own. </blockquote>
<cite>Matthew 6:34</cite>


<h1>Schedule</h1>
<p class="sidenote"><span class="schedlink">You can see the calendar here.</span></p>

<div id="sched" name="sched">
  <%= render 'calendar' %>
</div>

<ul>
  <li><strong>Monday</strong>: Pentateuch
  <li><strong>Tuesday</strong>: Old Testament History
  <li><strong>Wednesday</strong>: Old Testament History
  <li><strong>Thursday</strong>: Old Testament Prophets
  <li><strong>Friday</strong>: New Testament History
  <li><strong>Saturday</strong>: New Testament Epistles
  <li><strong>Sunday</strong>: Poetry
</ul>

<p>There are some exceptions to this pattern mostly because there are <em>many</em> more Prophets than there are Epistles. </p>
<p>This schedule is based on the <a href="https://ransomfellowship.org/article/bible-reading-program-for-slackers-shirkers/">Read through the Bible Program for Shirkers and Slackers</a> written by Margie Haack at <a href="http://ransomfellowship.org/">Ransom Fellowship</a>, and is used with permission (with many thanks). You can <a href="/readingprogram.pdf">click here</a> to download the orignial program.</p>

<h1>Translation</h1>

<p>All quotations are from the (NET) New English Translation<sup>&#174;</sup>, which is a free online bible available in its entirety as a download or online at <a href = "http://www.netbible.org/">http://www.netbible.org/</a>, complete with translators&rsquo; notes and footnotes. The NET Bible copyright reserves some rights, but the biblical text itself is entirely free use with permission for personal and public works, both commercial and non-commercial. Please visit the website to support the great work they are doing. </p>
<p>The Biblical Studies Press requests that the following notice appear with text quoted from the NET Bible: <q>Scripture quoted by permission. All quotations are from the NET Bible<sup>&#174;</sup> copyright &copy;1996-2006 by Biblical Studies Press, L.L.C. <a href="http://bible.org">http://bible.org</a> All rights reserved.</q></p>


